:root {
--size_value: 20px;
}

div {
    padding:20px;
    background:#eee;
    font-size:12px
}
div {
font-size: var(--size_value);
}

body {
  margin: 0;
  background-color: rgb(27, 4, 20)
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
.images {
 max-width:30%
}